

.mainContainer {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    flex-direction: column; 
    width: 100%;
    color: rgb(105, 102, 102);
    padding: 20px;
    font-size: 18px;
    margin-left: 350px;
}

.BotonesContainer {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
    margin-top: 0;  
}


.buttonSelected {
    background-color: #8eb39d; /* Color verde para el número seleccionado */
    border: 2px solid #395143;
}

